@use "/src/styles/colors";

.cart-main-c {
  padding: 0.5rem 1rem;

  @media (min-width: 992px) {
    padding: 1rem 1rem;
  }
}

.cart-main__title {
  text-align: center;
  font-weight: 700;
  font-size: 1.75rem;
  margin: 2rem 0;
}

.qty-and-delete-c {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.each-product-in-cart-c {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.each-product-in-cart-img-c {
  max-width: 7rem;
  display: flex;
  img {
    width: 100%;
    object-fit: contain;
  }
}

.each-product-in-cart-info-c {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  @media (min-width: 992px) {
    margin-left: 1rem;
  }

  p,
  span {
    margin-bottom: 0.3rem;
  }
}

.cart-delete-item-c {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cart-delete-item-c {
  padding: 0.5rem;
  background-color: colors.$title;
  border-radius: 5px;

  svg {
    stroke: white;
  }
}

.each-product-in-cart-desc {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.cart-empty-c {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.cart-empty-c__img-c {
  margin-top: 1.5rem;
  max-width: 15rem;

  img {
    width: 100%;
  }
}

.cart-empty-text {
  font-size: 1.2rem;
}

.loading-c {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
