@use "/src/styles/colors";

.cart-main-c {
  padding: 0.5rem 1rem;

  @media (min-width: 992px) {
    padding: 1rem 1rem;
  }
}

.cart-main__title {
  text-align: center;
  font-weight: 700;
  font-size: 1.75rem;
  margin: 2rem 0;
}

.qty-and-delete-c {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.each-product-in-cart-c {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.each-product-in-cart-img-c {
  max-width: 7rem;
  display: flex;
  img {
    width: 100%;
    object-fit: contain;
  }
}

.each-product-in-cart-info-c {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  @media (min-width: 992px) {
    margin-left: 1rem;
  }

  p,
  span {
    margin-bottom: 0.3rem;
  }
}

.cart-delete-item-c {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cart-delete-item-c {
  padding: 0.5rem;
  background-color: colors.$title;
  border-radius: 5px;

  svg {
    stroke: white;
  }
}

.each-product-in-cart-desc {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.cart-main__products-and-order-summary-c {
  display: inline-flex;
  justify-content: center;
}

.products-in-cart-c {
  max-width: 40%;
  margin-right: 4rem;
}

.order-summary-c {
  border-radius: 5px;
  border: 2px solid;
  border-color: colors.$title;
  padding: 1.2rem;
  width: 20%;
  background-color: white;
  height: 100%;
}

.divisor-line-order-summary {
  background-color: colors.$deeperGray;
  height: 2px;
  border: none;
  margin: 1rem 0;
}

.subtotal-c {
  margin-top: 1.5rem;
}

.order-summary__btns-c {
  display: flex;
  flex-direction: column;
}
